@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-dots li{
  width: 140px !important;
}
.slick-prev:before {
  font-size: 60px;
}

.slick-next:before {
  font-size: 60px;
}
.slick-next{
  right: 0 !important;
}