@tailwind base;
@tailwind components;
@tailwind utilities;
html{
    min-height: 100vh;
    list-style: none !important;
}
body,#root{
    min-height: 100vh;
}
#description ul li{ 
    list-style: bullet !important;
    list-style-type: circle !important;
}